body {
  overflow-x: hidden;
}

.ativo {
  color: #0056b3!important 
}

.list-group-item {
  border: 0px;
}

.fixed-left {
  position: fixed;
}

.navbar-toggler {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.navbar-toggler:hover {
  background-color: #007bff;
}

.navbar-toggler:hover i {
 color: white

}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  //padding: 0.875rem 1.25rem;
  //font-size: 1.2rem;
}

#sidebar-wrapper {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#sidebar.toggled #sidebar-wrapper {
  margin-left: 0;
}

.toggled {
  display: hide!important
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -10rem;
  }
}