<!-- Card Tabela -->
          <div class="col-12">
            <div class="card shadow-sm border-radius-sm m-3">

              <!-- nome -->
              <div class="card-header bg-transparent">
                Produtos
              </div>

              <!-- tabela -->
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-hover text-center table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Descrição</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Loja</th>
                        <th scope="col">Ações</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Escova de dentes de bambu</td>
                        <td>Descrição da escova</td>
                        <td>Higiene Pessoal</td>
                        <td><a href="https://www.lojaorganiconatural.com.br/escova-dental-natural-bamboo-34-tufos" target="_blank">Acessar</a></td>
                        <td>
                          <a href="#"><i class="fas fa-eye"></i></a>
                          <a href="#"><i class="fas fa-edit"></i></a>
                          <a href="#"><i class="fas fa-trash-alt"></i></a>
                        </td>
                      </tr>
                      <tr>
                        <td>Canudos de alumínio</td>
                        <td>Descrição do canudo</td>
                        <td>Cozinha</td>
                        <td><a href="https://www.tekogreen.com.br/canudos-de-inox/canudo-reto/kit-4-und/kit-4-canudos-de-inox-tekogreen-o0-6cm-x-22cm?parceiro=7332&gclid=EAIaIQobChMI1P2KnayV5AIVhASRCh0QgQseEAQYAyABEgK3ZfD_BwE" target="_blank">Acessar</a></td>
                        <td>
                          <a href="#"><i class="fas fa-eye"></i></a>
                          <a href="#"><i class="fas fa-edit"></i></a>
                          <a href="#"><i class="fas fa-trash-alt"></i></a>
                        </td>
                      </tr>
                      <tr>
                        <td>Copo flexível reutilizável</td>
                        <td>Descrição do copo</td>
                        <td>Cozinha</td>
                        <td><a href="https://shop.pangeia.eco/categorias/menos-1-lixo?utm_source=sitem1l&utm_content=Comprar%20topo" target="_blank">Acessar</a></td>
                        <td>
                          <a href="#"><i class="fas fa-eye"></i></a>
                          <a href="#"><i class="fas fa-edit"></i></a>
                          <a href="#"><i class="fas fa-trash-alt"></i></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                  <!-- info + paginação -->
                  <div class="row ml-1 mr-1">

                    <div class="col text-muted">
                      3 de 10 itens cadastrados
                    </div>

                    <ul class="pagination col justify-content-end">
                      <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                      </li>
                      <li class="page-item active">
                        <a class="page-link" href="#">1</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="#">2</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="#">3</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- fim card tabela -->